.double {
    display: flex;
    justify-content: space-between;
}

.info{
    text-align: center;
}

.date, .role {
    text-decoration: underline;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}