.main-body {
    text-align: center;
    margin-top: 5vh;
}

.classes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.block {
    box-shadow: 0 0 10px var(--educationist-blue);
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    min-width: 200px;
    max-width: 250px;
    background-color: rgb(30, 34, 32);
    border-radius: 2.5rem;
    padding: 30px 30px;
    margin: 0 2vw;
    margin-bottom: 5vh;
    overflow-wrap: break-word;
}

.block p {
    font-size: 0.9rem;
}

.block button {
    color: var(--invert);
    padding: 5px 15px 5px 15px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.1em;
    border-radius: 0.25em;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    max-width: 400px;
    background: var(--educationist-blue);
    box-shadow: 0 0 10px var(--educationist-blue);
}

.card:hover {
    background-color: rgb(48, 56, 52);
}

@media (max-width: 950px) {
    #cards {
        justify-content: center;
    }
}