.main-control button {
    cursor: pointer;
    text-align: center;
    padding: 5px 15px 5px 15px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.1em;
    border-radius: 0.25em;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    max-width: 200px;
    color: var(--invert);
}

#email-tutor,
#log-hours,
#activate-btn {
    background: var(--educationist-blue);
    box-shadow: 0 0 10px var(--educationist-blue);
}

#inactivate-btn,
#remove-btn {
    background: red;
    box-shadow: 0 0 10px orange;
}

.info {
    width: 100%;
}

.block {
    box-shadow: 0 0 10px var(--educationist-blue);
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: var(--background-block);
    border-radius: 2.5rem;
    padding: 30px 30px;
    margin: 0 2vw;
    margin-bottom: 5vh;
    overflow-x: hidden;
    word-break: break-all;
    text-align: center;
    overflow-y: hidden;
    height: 150px;
    display: flex;
    justify-content: center;
}

.block:hover {
    opacity: 80%;
}

#students,
#tutor,
#class-mates {
    width: 40vw;
}

.main-control {
    display: flex;
}

#email {
    width: 50vw;
}

#tutor-action {
    margin-top: 5vh;
}

.selected-person {
    background-color: var(--educationist-blue);
}

#action-selected {
    margin-top: 2vh;
    width: 100%;
}

@media (max-width: 1050px) {
    #students,
    #tutor,
    #class-mates {
        width: 100%;
    }

    .main-control {
        flex-direction: column-reverse;
    }

    .action {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #email {
        width: 100%;
    }
}
