@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@200;400;700&display=swap');

.main-body {
    margin-top: 5vh;
}

.controls {
    display: block;
    text-align: center;
}

.bookmarks {
    min-width: 300px;
}

.filter {
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

#search {
    min-width: 300px;
    margin-bottom: 4vh;
}

#refresh {
    cursor: pointer;
    color: white;
    background: var(--educationist-blue);
    box-shadow: 0 0 10px var(--educationist-blue);
    padding: 5px;
    border-radius: 0.25em;
    width: 25px;
    height: 25px;
    margin-left: 20px;
}

#cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    box-shadow: 0 0 10px var(--educationist-blue);
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 25%;
    min-width: 200px;
    max-width: 250px;
    height: fit-content;
    background-color: rgb(30, 34, 32);
    border-radius: 2.5rem;
    padding: 30px 30px;
    margin: 0 2vw;
    margin-bottom: 5vh;
    overflow-x: hidden;
}

.card:hover {
    background-color: rgb(48, 56, 52);
}

.banner {
    display: flex;
    justify-content: center;
    height: 20vh;
    overflow: hidden;
}

.title {
    width: 100%;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    text-align: center;
}

.card-author {
    text-align: center;
    color: grey;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#tags {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    line-height: 2;
}

#tags a,
#tags button {
    font-weight: 700;
    color: var(--basic-font);
    text-transform: uppercase;
    font-size: 0.7rem;
    border: 3px solid var(--educationist-blue);
    border-radius: 2rem;
    padding: 0.2rem 0.65rem;
    background-color: var(--invert);
}

#tags button:hover {
    opacity: 80%;
    color: white;
    border-color: white;
}

#tags img {
    color: white;
    width: 0.8rem;
}

.temp {
    display: none;
}

@media (max-width: 950px) {
    .controls {
        display: block;
        text-align: center;
    }

    #search {
        min-width: 200px;
    }

    .bookmarks {
        min-width: 245px;
    }

    .invisible {
        display: none;
    }

    .main-body {
        display: block;
        text-align: center;
    }

    .search {
        text-align: center;
    }

    #cards {
        justify-content: center;
    }
}
