.fall {
    position: absolute;
    animation: fall-animation 10s linear infinite;
    max-width: 10vw;
    overflow: hidden;
    background-color: var(--background-standout);
    text-align: center;
    padding: 10px;
    border-radius: 10%;
    overflow-wrap: break-word;
}

.special1 {
    box-shadow: 0 0 10px var(--educationist-green);
}

.special2 {
    box-shadow: 0 0 10px gold;
}

#falling,
body,
html {
    overflow-y: hidden;
}

#donate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}

#donate-form {
    z-index: 90;
    background-color: var(--background-block);
    padding: 10%;
    padding-top: 3vh;
    height: 50vh;
    overflow-y: auto;
    color: white;
}

.options {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 3vh;
}

.options button {
    cursor: pointer;
    text-align: center;
    color: var(--invert);
    box-shadow: 0 0 10px var(--educationist-blue);
    padding: 5px 15px 5px 15px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.1em;
    border-radius: 0.25em;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 20px;
}

.option {
    background: var(--educationist-blue);
}

.donation {
    margin-bottom: 3vh;
    text-align: center;
}

#paypal-button-container {
    display: flex;
    justify-content: center;
}

.selected-option {
    background: var(--educationist-green);
}

@keyframes fall-animation {
    0% {
        transform: translate3d(var(--start), 0, 0);
        opacity: 0%;
    }

    20% {
        opacity: 100%;
    }

    100% {
        transform: translate3d(var(--end), 150vh, 0);
    }
}

@media (max-width: 700px) {
    html,
    body {
        overflow-y: auto;
    }

    #donate-container {
        margin-top: 3vh;
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: 100%;
    }

    #donate-form {
        z-index: 100;
        background-color: transparent;
        padding: 10%;
        padding-top: 3vh;
        height: fit-content;
        color: white;
    }
}
