h1 {
    font-size: 3.2em;
}

h2 {
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 3vh;
}

.main-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-img-container {
    width: 100%;
    max-width: 400px;
}

.menu {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    max-width: 400px;
}

.menu:nth-child(n) {
    text-align: center;
}

.profile-image {
    margin: auto;
    margin-bottom: 10%;
    width: 100px;
}

.login-img {
    margin-top: 5%;
    margin-left: 8%;
    margin-right: 2%;
    max-width: 40%;
    height: fit-content;
    border-radius: 0.5em;
    padding: 20px;
}

.form {
    display: block;
    width: 100%;
}

#error {
    max-width: 400px;
    font-weight: 700;
    margin-bottom: 3vh;
    margin-top: 0;
    color: red;
}

.error-decorator {
    border-color: red;
}

@media (max-width: 1100px) {
    img:not(#logo-img) {
        display: none;
    }

    h1 {
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    form:nth-child(n) {
        text-align: center;
    }

    #eid, .password-input {
        margin: auto;
        margin-bottom: 5vh;
    }

    .main-body {
        display: block;
    }

    #login-btn {
        margin: auto;
        margin-top: 5%;
    }

    .menu {
        margin: auto;
    }
}