@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@200;400;700&display=swap');

:root {
    --educationist-green: #38b18a;
    --educationist-blue: #16a9b6;
    --basic-font: var(--educationist-green);
    --navbar-width: 43em;
    --background: rgb(17, 19, 18);
    --background-standout: rgb(37, 41, 39);
    --background-block: rgb(30, 34, 32);
    --background-block-hover: var(--background-standout);
    --invert: white;
    --border: rgb(66, 71, 66);
    --extreme: black;
    --educationist-green-variation: #38b18b9d;
    --help-menu: var(--invert);
}

html,
body {
    font-family: Poppins, sans-serif;
    color: var(--basic-font);
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

a {
    text-decoration: none;
    font-size: 1em;
    color: var(--basic-font);
}

a:hover {
    color: var(--invert);
}

button {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

.main-body button:hover {
    opacity: 80%;
}

img {
    width: 100%;
}

header {
    margin: auto;
}

input,
textarea {
    resize: none;
    outline: none;
    background: none;
    box-sizing: border-box;
    border: 1px solid var(--border);
    border-radius: 0.5em;
    padding: 0.55em 0.75em 0.55em 0.75em;
    font-weight: 200;
    font-size: 0.9em;
    color: var(--invert);
    font-weight: 400;
    margin-bottom: 5%;
    width: 100%;
    max-width: 400px;
}

input:focus {
    border: 1px solid var(--educationist-green);
}

input::placeholder {
    color: rgb(127, 129, 127);
}

select {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 1px solid rgb(66, 71, 66);
    border-radius: 0.5rem;
    font-size: 0.9em;
    padding: 0.55em 0.75em 0.55em 0.75em;
    color: var(--invert);
    width: 100%;
    max-width: 400px;
    font-size: 0.9rem;
    cursor: pointer;
    margin-bottom: 5vh;
}

select:focus {
    border: 1px solid var(--educationist-green);
}

select option {
    color: black;
}

.invisible {
    visibility: hidden;
}

.icons {
    display: inline;
}

.logo {
    cursor: pointer;
    display: inline-block;
    width: 60px;
}

.navbar li {
    padding: 0 5% 0 5%;
    font-weight: 600;
    font-size: 1.2rem;
    float: left;
    cursor: pointer;
}

.navbar {
    float: right;
    padding: 0;
    width: var(--navbar-width);
    list-style-type: none;
}

.navbar .selected {
    text-decoration: underline;
}

.navbarBtn {
    font-weight: 800;
    font-size: 1.2rem;
    font-family: Poppins;
    color: var(--basic-font);
    padding-bottom: 1em;
}

.dropdown-content button,
.dropdown-content a {
    font-size: 1em;
    font-weight: 500;
    color: var(--extreme);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content button:hover,
.dropdown-content a:hover {
    color: var(--invert);
}

.dropdown-content {
    position: absolute;
    background-color: var(--educationist-green-variation);
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a,
.dropdown-content button {
    text-decoration: none;
}

.navbarBtn:hover {
    color: var(--invert);
}

.hamburger-container {
    display: none;
}

.container {
    margin: auto;
    height: 100%;
    padding: 2% 10% 5% 10%;
}

.show {
    display: block;
}

.error-decorator {
    border-color: red;
}

#toaster.invisible {
    visibility: hidden;
}

#toaster {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

#toaster span {
    border-radius: 0px 0px 10px 10px;
    font-size: 1rem;
    padding: 5px;
    background-color: var(--border);
    color: white;
}

.temp {
    display: none;
}

#help {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 45px;
    width: 45px;
    background-color: var(--border);
    border-radius: 50%;
    color: white;
    box-shadow: 0 0 10px black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#help span {
    font-size: 1.3rem;
    font-weight: bold;
}

#help-menu p {
    margin-right: 1rem;
    margin-left: 1rem;
}

#help-menu-menu {
    background-color: var(--background-standout);
    color: var(--invert);
    text-align: right;
    padding-right: 15px;
    border-radius: 10px 10px 0 0;
    height: 5vh;
    max-height: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
}

#help-menu-menu span {
    cursor: pointer;
    font-weight: bold;
}

#help-menu {
    background-color: var(--help-menu);
    color: var(--background-standout);
    border-radius: 0 0 10px 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 30vh;
    max-height: 350px;
}

#help-menu-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 35vh;
    width: 25vw;
    max-width: 250px;
    max-height: 400px;
}

@media (max-width: 1000px) {
    .dropdown {
        text-align: center;
    }

    .dropdown-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1em;
        position: inherit;
        width: 100%;
    }

    .temp {
        display: none;
    }

    .dropdown-content button {
        text-align: center;
    }

    .navbar {
        display: none;
    }

    .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hamburger-container {
        height: fit-content;
        cursor: pointer;
        float: right;
        display: block;
    }

    .bar1,
    .bar2,
    .bar3 {
        margin-top: 6px;
        width: 35px;
        height: 5px;
        background-color: var(--invert);
        margin-top: 6px;
        transition: 0.4s;
    }

    .bar1 {
        margin-top: 0;
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .navbar-vertical {
        padding-top: 7vh;
        overflow: hidden;
        background-color: var(--background-standout);
        height: fit-content;
        max-height: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        animation: grow ease-in-out 1.3s forwards;
    }

    .navbar-vertical li {
        margin: 0 auto 7vh auto;
        width: fit-content;
    }

    @keyframes grow {
        0% {
            max-height: 0;
        }
        100% {
            max-height: 100vh;
        }
    }
}

@media (max-width: 400px) {
    #toaster {
        top: 50vh;
        bottom: 50vh;
    }

    #toaster span {
        border-radius: 10px 10px 10px 10px;
        background-color: rgb(160, 39, 39);
        height: fit-content;
        font-size: 0.8rem;
    }
}
