@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@200;400;700&display=swap');

:root {
    --educationist-green: #38b18a;
    --educationist-blue: #16a9b6;
}

.main-body {
    display: block;
    text-align: center;
    margin-top: 5vh;
}

#progress {
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
}

.step {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: grey;
    border: 1px solid rgb(202, 199, 199);
}

.current {
    background-color: var(--educationist-green);
}

#step1 {
    margin-right: 10px;
}

#register1 input {
    margin-bottom: 5vh;
}

#register1 button {
    color: white;
    background: var(--educationist-blue);
    box-shadow: 0 0 10px var(--educationist-blue);
    padding: 5px 15px 5px 15px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.1em;
    border-radius: 0.25em;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    max-width: 400px;
}

.error-decorator {
    border-color: red;
}

@media (max-width: 950px) {
}
