
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800;900&display=swap');
  :root {
      --educationist-green: rgb(56, 176, 138);
      --educationist-blue: rgb(22, 169, 182);
  }
  
  body {
    font-family: 'Inter', sans-serif;
    color: #1a1a1a;

  }
  a {
    color: #2196f3;
    text-decoration: none;
  }
  
  .container {
    width:100%;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .signup-container,
  .signup-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .signup-container {
    width: 100vw;
    align-items: flex-start;
    justify-content: flex-start;
    grid-column: 1 / 2;
    grid-row: 1;
  }
  .signup-form {
    max-width: 45rem;
    width: 100%;
  }
  .text-mute {
    color: #aaa;
  }

  
  .input-text {
    font-family: inherit;
    font-size: 1.4rem;
    padding: 3rem 5rem 1rem 2rem;
    border: none;
    border-radius: 2rem;
    background: #eee;
    width: 100%;
  }
  .input-text:focus {
    outline-color: #2196f3;
  }
  
  .btn {
    padding: 2rem 3rem;
    border: none;
    background: #2196f3;
    color: #fff;
    border-radius: 1rem;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: inherit;
  }
  
  .btn-login {
    align-self: flex-end;
    width: 100%;
    margin-top: 2rem;
    box-shadow: 0 5px 5px #00000020;
  }
  .btn-login:active {
    box-shadow: none;
  }
  .btn-login:hover {
    background: #2180f9;
  }
  .inp {
    position: relative;
  }

  .input-icon-password {
    cursor: pointer;
  }
  
  .btn-google {
    color: #222;
    background: #fff;
    border: solid 1px #eee;
    padding: 1.5rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    box-shadow: 0 1px 2px #00000020;
  }
  
  .btn-google img {
    width: 3rem;
    margin-right: 1rem;
  }
  
  .login-wrapper {
    max-width: 45rem;
    width: 100%;
  }
  .line-breaker .line {
    width: 50%;
    height: 1px;
    background: #eee;
  }
  .line-breaker {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
  
    margin: 3rem 0;
  }
  .line-breaker span:nth-child(2) {
    margin: 0 2rem;
  }
  
  .welcome-container {
    background-color: rgba(0, 0, 0, 0.1);
    background-image: url('https://cdn.educationisttutoring.org/images/register-image.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain; /* Resize the background image to cover the entire container */
    grid-column: 2 / 3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

  }
  .lg {
    font-size: 6rem;
  }
  .welcome-container img {
    width: 100%;
  }
  
  @media only screen and (max-width: 700px) {
    html {
      font-size: 54.5%;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .signup-container {
      padding: 5rem;
    }
  }
  @media only screen and (max-width: 400px) {
    html {
      font-size: 48.5%;
    }
  
    .input-text:not(:placeholder-shown) + .label,
    .input-text:focus + .label {
      top: 0.6rem;
      transform: scale(0.75);
    }
    .label {
      font-size: 1.9rem;
    }
  }
  
  @media only screen and (max-width: 1200px) {
    .signup-container {
      grid-column: 1 / 3;
      grid-row: 1/3;
    }
    .welcome-container {
      display: none;
    }
  }
  

  
input[type='text'], input[type='email'], input[type='date'], select {
    font-size: 14px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: rgb(84 105 212 / 0.5);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

input[type="submit"] {
    background-color: rgb(84, 105, 212);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, 
                rgb(84, 105, 212) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.register-img {
    max-height:400px;
}


.consent-fields {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  input[type='checkbox'] {
    width:20px;
  }