html, body {
    background-color: var(--background);
    font-family: Poppins, sans-serif;
    color: var(--basic-font);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Main Body Configuration */
#container {
    margin: 3vh 10vw;
}

/* Navbar Configuration */
.navMenu {
    display: flex;
    justify-content: space-between;
    padding: 3vh 10vw;
}

.navbar {
    float: right;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navbar li {
    float: left;
}

.navbar li > a, .dropdown-btn {
    display: inline;
    font-family: Poppins;
    color: var(--basic-font);
    float: left;
    padding: 0 20px;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
}

.navbar .selected, .navbar li > a:hover, .dropdown-btn:hover {
    color: var(--educationist-green);
}

.dropdown {
    display: flex; 
    justify-content: center;
}

.dropdown-content {
    margin-top: 3rem;
    padding-top: 0.3rem;
    max-width: 8rem;
    flex-direction: column;
    text-align: center;
    z-index: 100;
    position: absolute;
    display: flex;
    background-color: var(--secondary-background);
}

.dropdown-content a, .dropdown-content button {
    padding: 0.5rem;
    display: block;
    color: var(--invert);
    font-weight: 500;
    font-size: 1.2em;
    font-family: Poppins;
}

.dropdown-content a:hover, .dropdown-content button:hover {
    color: grey;
}

@media (max-width: 1200px) {
    .merge-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: 100%;
    }
    
    #merge-menu {
        background-color: inherit;
        z-index: 90;
        padding: 10%;
        padding-top: 3vh;
        height: fit-content;
        width: 100%;
        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .navbar {
        display: none;
    }

    .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .hamburger-container {
        cursor: pointer;
        float: right;
    }

    .bar1,
    .bar2,
    .bar3 {
        margin-top: 6px;
        width: 35px;
        height: 5px;
        background-color: var(--invert);
        margin-top: 6px;
        transition: 0.4s;
    }

    .bar1 {
        margin-top: 0;
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .navMenu {
        flex-direction: column;
    }

    .navbar-vertical {
        margin-top: 7vh;
        overflow: hidden;
        background-color: var(--secondary-background);
        height: fit-content;
        max-height: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        animation: grow ease-in-out 1.3s forwards;
    }

    .navbar-vertical li {
        margin: 3vh 0;
        width: fit-content;
    }

    .dropdown-content {
        position: inherit;
        margin-top: 0;
    }

    .dropdown {
        display: flex;
        flex-direction: column;
    }

    .dropdown-content a, .dropdown-content button {
        color: var(--invert);
    }
    
    .dropdown-content a:hover, .dropdown-content button:hover {
        color: var(--educationist-green);
    }

    @keyframes grow {
        0% {
            max-height: 0;
        }
        100% {
            max-height: 100vh;
        }
    }
}

/* Footer Configurations */
footer {
    padding: 4vh 7vw;
    margin-top: 10vh;
    font-size: 0.8rem;
    background-color: var(--footer-background);
    color: var(--footer-font);
}

footer a {
    color: var(--footer-font);
}

.footer-columns {
    padding: 0 2vw;
    padding-top: 3vh;
    border-top: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
}

.footer-column {
    max-width: 30vw;
}

.socials a {
    padding-left: 1.5vw;
}

.company-info-mobile {
    display: none;
}

@media (max-width: 900px) {
    .footer-column {
        max-width: 10vw;
    }

    .company-info {
        display: none;
    }

    .company-info-mobile {
        display: block;
        max-width: none;
        text-align: center;
        margin-top: 5vh;
    }
}

/* Link Configurations */
a {
    text-decoration: none;
    font-size: 1em;
    color: var(--educationist-green);
}

a:hover {
    opacity: 80%;
}

/* Button Configurations */
button {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

#container button:hover, #alert-box button:hover {
    opacity: 80%;
}

#container button, #alert-box button {
    color: white;
    padding: 5px 15px 5px 15px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.1em;
    border-radius: 0.25em;
    margin-top: 3vh;
    display: block;
    width: 100%;
    max-width: 400px;
}

.btn-normal {
    background: var(--educationist-blue);
    box-shadow: 0 0 10px var(--educationist-blue);
}

.btn-red {
    background: red;
    box-shadow: 0 0 10px orange;
}

/* Image Configurations */
img {
    width: 100%;
}

/* Input Configurations */
input,
textarea {
    resize: none;
    outline: none;
    background: none;
    box-sizing: border-box;
    border: 1px solid var(--border);
    border-radius: 0.5em;
    padding: 0.55em 0.75em 0.55em 0.75em;
    font-weight: 200;
    font-size: 0.9em;
    color: var(--invert);
    font-weight: 400;
    margin-bottom: 5vh;
    width: 100%;
    max-width: 400px;
}

input:focus, textarea:focus {
    border: 1px solid var(--educationist-green);
}

input::placeholder, textarea::placeholder {
    color: rgb(127, 129, 127);
}

/* Select Configurations */
select {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 1px solid rgb(66, 71, 66);
    border-radius: 0.5rem;
    font-size: 0.9em;
    padding: 0.55em 0.75em 0.55em 0.75em;
    color: var(--invert);
    width: 100%;
    max-width: 400px;
    font-size: 0.9rem;
    cursor: pointer;
    margin-bottom: 5vh;
}

select:focus {
    border: 1px solid var(--educationist-green);
}

select option {
    color: black;
}

/* Notification Configuration */
#notification.invisible {
    visibility: hidden;
}

#notification {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 100;
}

#alert {
    border-radius: 0px 0px 10px 10px;
    font-size: 1rem;
    padding: 5px;
    background-color: var(--border);
    color: white;
    border: 3px solid var(--background-standout);
    border-top: 0;
}

/* Blocks Configurations */
.block-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.block {
    box-shadow: 0 0 10px var(--educationist-blue);
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: var(--background-block);
    border-radius: 2.5rem;
    padding: 30px 30px;
    margin: 0 2vw;
    margin-bottom: 5vh;
    overflow-x: hidden;
    word-break: break-all;
    text-align: center;
    overflow-y: hidden;
}

.block:hover {
    background-color: var(--background-block-hover);
}

.block-field {
    font-size: 0.9rem;
}

.small {
    width: 25%;
    min-width: 200px;
    max-width: 250px;
}

.large {
    width: 70%;
    min-width: 200px;
    max-width: 700px;
}

.block .title {
    width: 100%;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3vh;
}

@media (max-width: 950px) {
    .block-container {
        justify-content: center;
    }
}

/* Loader Configurations */
#loader-container {
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader-container.invisible {
    visibility: hidden;
}

.loader-on {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    position: absolute;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.blur {
    filter: blur(5px);
    pointer-events: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Other Tags */
.invisible {
    display: none !important;
}

.error-decorator {
    border-color: red;
}

form i {
    margin-left: -30px;
    cursor: pointer;
}

/* Navigation Bar Configuration */
.logo {
    cursor: pointer;
    display: inline-block;
    width: 60px;
}

.navbar {
    float: right;
    padding: 0;
    width: var(--navbar-width);
    list-style-type: none;
}

/* Bottom Hovering Button/Menu */
.bottom-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    min-width: 50px;
    min-height: 50px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--educationist-green);
    color: white;
    font-size: 1.4rem;
    border-radius: 50%;
    box-shadow: 0 0 10px var(--educationist-green);
    cursor: pointer;
}

.bottom-btn:hover {
    opacity: 80%;
}

.bottom-menu {
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 35vh;
}

.bottom-menu-header {
    color: white;
    max-width: 300px;
    min-width: 200px;
    min-height: 25px;
    height: 5vh;
    background-color: var(--educationist-green);
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.bottom-menu-content {
    background-color: var(--bottom-box-content);
    border-radius: 0 0 20px 20px;
    height: 30vh;
    max-width: 300px;
    min-width: 200px;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-menu-header i {
    cursor: pointer;
    font-size: 1.6rem;
}

.bottom-menu-header i:hover {
    opacity: 80%;
}

.bottom-menu-content button {
    box-shadow: none;
}

@media (max-width: 600px) {
    .bottom-menu {
        right: 10vw;
        left: 10vw;
        max-width: none;
    }

    .bottom-menu-header, .bottom-menu-content {
        right: 10vw;
        left: 10vw;
        max-width: none;
    }
}

/* Alert Configuration */
#alert-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#alert-box {
    padding: 20px;
    width: 70vw;
    min-height: fit-content;
    height: 30vh;
    background-color: var(--bottom-box-content);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#alert-box .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#alert-box button {
    width: 150px;
}