:root {
    --background: white;
    --background-block: rgb(30, 34, 32);
    --background-block-hover: rgb(48, 56, 52);
    --educationist-green: #38b18a;
    --educationist-blue: #16a9b6;
    --basic-font: var(--educationist-green);
    --invert: black;
    --secondary-background: rgb(200, 244, 222);
    --border: rgb(116, 116, 116);
}