@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@200;400;700&display=swap');

:root {
  --app-height: 100%;
  --educationist-green: #38b18a;
  --educationist-blue: #02acbc;
}

input {
    outline: none;
    background: none;
    box-sizing: border-box;
    border: 1px solid rgb(66, 71, 66);
    border-radius: 0.5em;
    padding: 0.55em 0.75em 0.55em 0.75em;
    font-weight: 200;
    font-size: 0.9em;
    color: #ffffff;
    font-weight: 400;
    width: 100%;
    max-width: 400px;
}
  
input:focus {
    border: 1px solid var(--educationist-green);
}
  
input::placeholder {
    color: rgb(127, 129, 127);
}

select {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 1px solid rgb(66, 71, 66);
    border-radius: 0.5rem;
    font-size: 0.9em;
    padding: 0.55em 0.75em 0.55em 0.75em;
    color: #ffffff;
    width: 100%;
    max-width: 400px;
    font-size: 0.9rem;
    cursor: pointer;
    margin-bottom: 5vh;
}

select:focus {
    border: 1px solid var(--educationist-green);
}

h1 {
    font-size: 3.2em;
}

h2 {
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 3vh;
}

.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image-container {
    margin: auto;
    margin-right: 2vh;
    margin-left: 8vh;
    max-width: 40%;
    height: fit-content;
    padding: 20px;
}

.form-container {
    display: block;
    width: 100%;
}

.form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.subtext {
    margin: 0;
    margin-bottom: 5vh;
    font-weight: 400;
}

.amount-container {
    max-width: 400px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;
}

.amount-box {
    color: white;
    border: 1px solid rgb(66, 71, 66);
    padding: 0 0.75em 0 0.75em;
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: 0.5em;
}

#amount {
    padding-left: 15px;
    border-radius: 0;
    border: none;
}

.minus {
    height: fit-content;
    margin: auto;
    margin-left: 0;
    color: white;
    font-size: 1.1em;
    font-weight: 700;
    padding: 10px;
    margin-right: 2%;
}

.plus {
    height: fit-content;
    margin: auto;
    margin-right: 0;
    color: white;
    font-size: 1.1em;
    font-weight: 700;
    padding: 10px;
    margin-left: 2%;
}

#charge {
    color: white;
	background: var(--educationist-blue);
    box-shadow: 0 0 10px var(--educationist-blue);
    padding: 5px 15px 5px 15px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.1em;
    border-radius: .25em;
    margin-top: 5%;
    display: block;
    width: 100%;
    max-width: 400px;
}

#cancel {
    color: white;
	background: var(--educationist-blue);
    padding: 5px 15px 5px 15px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.1em;
    border-radius: .25em;
    margin-top: 5%;
    display: block;
}

.card-container {
    width: 100%;
}

#card-element {
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 5%;
    background: white;
}

#payment-request-button {
    margin-bottom: 32px;
}

#payment-form {
    position: fixed;
    margin: auto;
    background-color: #94bc0271;
    width: 30vw;
    min-width: 500px;
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
      0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    padding: 40px;
}

#error {
    max-width: 400px;
    font-weight: 700;
    color: red;
}

.error-input {
    border-color: red;
}

#submit {
    background: var(--educationist-blue);
    color: #ffffff;
    font-family: Arial, sans-serif;
    border-radius: 4px;
    border: 0;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
    width: 100%;
}

#submit:hover {
    filter: contrast(115%);
}

#submit:disabled {
    opacity: 0.5;
    cursor: default;
}

.blur {
    filter: blur(5px);
    pointer-events: none;
}

.hidden {
    display: none;
}

.spinner {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    margin: auto;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
}

@media (max-width: 1200px) {
    .main-image-container {
      display: none;
    }

    h1, h2, .subtext {
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    select, .amount-container {
        margin-right: auto;
        margin-left: auto;
    }
    
    .amount-container {
        width: 100%;
        max-width: 400px;
        margin-bottom: 3vh;
    }

    #charge {
      margin: auto;
      margin-top: 3vh;
    }

    .invisible {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    #payment-form {
      width: 80vw;
    }
}