@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@200;400;700&display=swap');

:root {
  --educationist-green: #38b18a;
  --educationist-blue: #16a9b6;
}

html, body {
  font-family: Poppins, sans-serif;
  color: var(--educationist-green);
  margin: 0;
  padding: 0;
  background-color: rgb(17, 19, 18);
}

a {
  text-decoration: none;
  font-size: 1em;
  color: var(--educationist-green);
}

a:hover {
  color: white;
}

img {
  width: 100%;
}

input {
  outline: none;
  background: none;
  box-sizing: border-box;
  border: 1px solid rgb(66, 71, 66);
  border-radius: 0.5em;
  padding: 0.55em 0.75em 0.55em 0.75em;
  font-weight: 200;
  font-size: 0.9em;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 5%;
  width: 100%;
  max-width: 400px;
}

input:focus {
  border: 1px solid var(--educationist-green);
}

input::placeholder {
  color: rgb(127, 129, 127);
}

button {
  margin: 0;
  padding: 0;
	outline: none;
	border: none;
  background: none;
  cursor: pointer;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 1.2em;
  margin: 0;
  margin-bottom: 3%;
}

header {
    margin: auto;
}

.navbar li {
  padding: 0 5% 0 5%;
  float: left;
  cursor: pointer;
}

.navbar {
  float: right;
  padding: 0;
  width: 26em;
  list-style-type: none;
}

.navbarBtn {
  font-size: 1em;
  font-family: Poppins;
  color: var(--educationist-green);
}

.navbarBtn:hover {
  color: white;
}

.hamburger-container {
  display: none;
}

.container {
  margin: auto;
  height: 100%;
  padding: 2% 10% 5% 10%;
}

.blur {
  filter: blur(5px);
  pointer-events: none;
}

.login-box {
  display: flex;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
  display: inline-block;
  width: 60px;
}

.profile-img-container {
  width: 100%;
  max-width: 400px;
}

.menu {
  width: 100%;
  max-width: 400px;
}

.menu:nth-child(n) {
  text-align: center;
}

.profile-image {
  margin: auto;
  margin-bottom: 10%;
  width: 100px;
}

.login-img {
  margin-top: 5%;
  margin-left: 8%;
  margin-right: 2%;
  max-width: 40%;
  height: fit-content;
  border-radius: .5em;
  padding: 20px;
}

.form {
  display: block;
  width: 100%;
}

#login-btn {
  color: white;
	background: var(--educationist-blue);
  box-shadow: 0 0 10px var(--educationist-blue);
  padding: 5px 15px 5px 15px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 1.1em;
  border-radius: .25em;
  margin-top: 3%;
  display: block;
  width: 100%;
  max-width: 400px;
}

#error {
  max-width: 400px;
  font-weight: 700;
  color: red;
}

.error-decorator {
  border-color: red;
}

.loader-none {
  display: none;
}

.loader-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  position: absolute;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { 
    transform: rotate(0deg); 
  }
  100% { 
    transform: rotate(360deg); 
  }
}

@media (max-width: 950px) {
    img:not(#logo-img) {
      display: none;
    }

    h1 {
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    form:nth-child(n) {
      text-align: center;
    }

    input {
      margin: auto;
      margin-bottom: 5%;
    }
    
    .login-box {
      display: block;
    }

    #login-btn {
      margin: auto;
      margin-top: 5%;
    }

    .menu {
      margin: auto;
    }
}

@media (max-width: 700px) {
  .navbar {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger-container {
    height: fit-content;
    cursor: pointer;
    float: right;
    display: block;
  }

  .bar1, .bar2, .bar3 {
    margin-top: 6px;
    width: 35px;
    height: 5px;
    background-color: white;
    margin-top: 6px;
    transition: 0.4s;
  }

  .bar1 {
    margin-top: 0;
  }

  .change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

  .invisible {
    display: none;
  }
}