@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@200;400;700&display=swap');

:root {
  --educationist-green: #38b18a;
  --educationist-blue: #16a9b6;
}

input {
    outline: none;
    background: none;
    box-sizing: border-box;
    border: 1px solid rgb(66, 71, 66);
    border-radius: 0.5em;
    padding: 0.55em 0.75em 0.55em 0.75em;
    font-weight: 200;
    font-size: 0.9em;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 3%;
    width: 100%;
    max-width: 400px;
}

input:focus {
    border: 1px solid var(--educationist-green);
}

input::placeholder {
    color: rgb(127, 129, 127);
}

select {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 1px solid rgb(66, 71, 66);
    border-radius: 0.5rem;
    font-size: 0.9em;
    padding: 0.55em 0.75em 0.55em 0.75em;
    color: #ffffff;
    width: 100%;
    max-width: 400px;
    font-size: 0.9rem;
    cursor: pointer;
}

select:focus {
    border: 1px solid var(--educationist-green);
}

h1 {
    font-size: 3.2em;
}

h2 {
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 3%;
}

.main-body {
    display: flex;
    justify-content: space-between;
}

.invisible {
    display: none;
}

.tab {
    display: none;
}

.display-tab {
    display: block;
    width: 100%;
}

.welcome-message {
    margin-top: 5%;
    margin-left: 8%;
    margin-right: 2%;
    max-width: 40%;
    height: fit-content;
    border-radius: .5em;
    padding: 20px;
    background-color: #4e696b59;
}

.welcome-header {
    font-weight: 700;
    font-size: 3em;
    margin: 0;
}

.welcome-text {
    margin: 0;
}

.welcome-none {
    display: none;
}

.menu {
    width: fit-content;
    float: right;
}

.navBtn {
    color: white;
	background: var(--educationist-blue);
    box-shadow: 0 0 10px var(--educationist-blue);
    padding: 5px 15px 5px 15px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.1em;
    border-radius: .25em;
    margin-bottom: 5%;
}

.navBtn:hover {
    background-color: #00eaff;
}

#prevBtn {
    margin-right: 5px;
}

#nextBtn {
    margin-left: 5px;
}

.status span {
    height: 15px;
    width: 15px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #bbbbbb;
    border: none; 
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.status {
    margin: auto;
    padding-top: 5%;
    width: fit-content;
}

.subtext {
    margin: 0;
    font-weight: 400;
}

.first {
    display: block;
}

@media (max-width: 950px) {
    .welcome-message {
        display: none;
    }
    
    .main-body {
        justify-content: center;
    }

    .display-tab {
        width: fit-content;
    }

    .subtext {
        margin-top: 3%;
    }

    h1 {
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    form:nth-child(n) {
        text-align: center;
    }

    input {
        margin: auto;
        margin-bottom: 5%;
    }

    select {
        margin: auto;
    }

    #role {
        margin-top: 3%;
    }
}